#game {
width: 100vw;
height: 70vw;
max-width: 133.33vw;
max-height: 100vw;
margin: auto;
position: absolute;
top:0;bottom: 0;
left: 0;right: 0;
}

#myCanvas {
width: 90%;
height: 90%;
background-color: black;
margin: auto;
position: absolute;
top: 0;left: 0;bottom: 0;right: 0;
border: 1px slolid;
border-radius: 10px;
border-color: #c3c3c3;

}